.wrap{
    width: 100%;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    line-height: normal;
    margin: 5px;
    background-color: #F4FAFC;
    box-shadow: 0px 0px 4px 1px rgba(0,0,0,0.75);;

    p{margin:0}

    .name, .profession{
        display: flex;
        min-width: 100%;
    }
    
    .age{
        display: flex;
        flex-wrap: wrap;
    }

    .height{
        margin-left: 10px;
        display: flex;
        flex-wrap: wrap;
    }

    .card-label{
        font-weight: bold;
    }

    .card-value{
        margin-left: 5px;
    }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
    .wrap {
        width: 29%;
    }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {

}